# MongoDB Connection URL
# Default: mongodb://localhost:27017
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_URL=mongodb://localhost:27017

# Server Port
# Default: 3000
PORT=3000
